h1{
    text-align: center;
}


img{
    margin: 0 auto;
    border-radius: 25px;
    display: block;
    width: 800;
    height: auto;
}
h2{
    text-align: center;
    margin: 20px 0;
}
body{
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding-top: 50px;
}
.countdown{
    background-color: rgb(223, 97, 0);
    border: 2px solid;
    border-radius: 12px;
    padding: 20px;
    margin: 30px;
    color: #333;
    font-size: 15px;
    width: 50%;
}
.countdown a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 8px;
    background-color: rgb(253, 226, 17);
    padding: 10px 15px;
}
p{
    text-align: justify;
}