h1{
    text-align: center;
}


img{
    margin: 0;
    border-radius: 12px;
    display: block;
    width: 800;
    height: auto;

}
h2{
    text-align: center;
}
body{
    top: 50%;
    left: 50%;
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}
